.header
{
    height: 10vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5em;
    color: #7FFFD4 !important;
    padding: 0 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header.scrolled {
  color: #000 !important;
  background-color: #222;/* new color when scrolled over projects */
}

.nav-links a
{
    margin: 0 1em;
    text-decoration: none;
    /* color: darkblue; */
    font-weight: bold;
    color: #7FFFD4 !important;
}

.logo a
{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #7FFFD4 !important;
}