.content
{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.social-icons {
    width: 100px;
    height: 100px;
    /* background-color: aliceblue; */
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icons i {
    margin: 10px;
    cursor: pointer;
}
