/* You can add global styles to this file, and also import other style files */

:root {
  --primary-bg: #001C57;
}

html, body {
  height: 100%;
  margin: 0;
  /* background-color: var(--primary-bg) !important; */
  background-color: rgb(15 23 42 / 1) !important;
  color: white !important;
  font-family: sans-serif;
   scroll-behavior: smooth;
}